In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('yh_finance_data_MSFT.csv')

In [5]:
df.head()

         date    open    high     low   close  adj_close      volume
0  1715299200  412.99  415.38  411.80  414.65     414.65   8,839,722
1  1715212800  410.57  412.72  409.10  412.32     412.32  14,689,700
2  1715126400  408.17  412.23  406.71  410.54     410.54  11,792,300
3  1715040000  414.66  414.67  409.09  409.34     409.34  20,018,200
4  1714953600  408.76  413.93  406.37  413.54     413.54  16,996,600