In [1]:
import pandas as pd

In [32]:
df = pd.read_csv('./csv/yh_finance_data_MSFT.csv', parse_dates=['date'])

In [20]:
df

         date    open    high     low   close  adj_close    volume
0  2024-03-11  403.76  405.68  401.26  404.52     404.52  16120800
1  2024-03-12  407.62  415.57  406.79  415.28     415.28  22457000
2  2024-03-13  418.10  418.18  411.45  415.10     415.10  17115900
3  2024-03-14  420.24  427.82  417.99  425.22     425.22  34157300
4  2024-03-15  419.29  422.60  412.79  416.42     416.42  45049800
5  2024-03-18  414.25  420.73  413.78  417.32     417.32  20106000
6  2024-03-19  417.83  421.67  415.55  421.41     421.41  19837900
7  2024-03-20  422.00  425.96  420.66  425.23     425.23  17860100
8  2024-03-21  429.83  430.82  427.16  429.37     429.37  21296200
9  2024-03-22  429.70  429.86  426.07  428.74     428.74  17636500
10 2024-03-25  425.24  427.41  421.61  422.86     422.86  18060500
11 2024-03-26  425.61  425.99  421.35  421.65     421.65  16725600
12 2024-03-27  424.44  424.45  419.01  421.43     421.43  16705000
13 2024-03-28  420.96  421.87  419.12  420.72     420.72  21871200
14 2024-04-01  423.95  427.89  422.22  424.57     424.57  16316000
15 2024-04-02  420.11  422.38  417.84  421.44     421.44  17912000
16 2024-04-03  419.73  423.26  419.09  420.45     420.45  16502300
17 2024-04-04  424.99  428.67  417.57  417.88     417.88  19370900
18 2024-04-05  420.01  426.51  418.32  425.52     425.52  16544300
19 2024-04-08  425.17  427.28  423.30  424.59     424.59  14272400
20 2024-04-09  426.44  427.74  421.62  426.28     426.28  12512300
21 2024-04-10  422.19  424.03  419.70  423.26     423.26  16216600
22 2024-04-11  425.82  429.37  422.36  427.93     427.93  17966400
23 2024-04-12  424.05  425.18  419.77  421.90     421.90  19232100
24 2024-04-15  426.60  426.82  413.43  413.64     413.64  20273500
25 2024-04-16  414.57  418.40  413.73  414.58     414.58  16765600
26 2024-04-17  417.25  418.88  410.33  411.84     411.84  15855500
27 2024-04-18  410.63  411.89  403.95  404.27     404.27  21029900
28 2024-04-19  404.03  405.48  397.77  399.12     399.12  30276500
29 2024-04-22  400.08  402.85  395.75  400.96     400.96  20286900
30 2024-04-23  404.24  408.20  403.06  407.57     407.57  15734500
31 2024-04-24  409.56  412.47  406.78  409.06     409.06  15065300
32 2024-04-25  394.03  399.89  388.03  399.04     399.04  40586500
33 2024-04-26  412.17  413.00  405.76  406.32     406.32  29694700
34 2024-04-29  405.25  406.32  399.19  402.25     402.25  19582100
35 2024-04-30  401.49  402.16  389.17  389.33     389.33  28781400
36 2024-05-01  392.61  401.72  390.31  394.94     394.94  23562500
37 2024-05-02  397.66  399.93  394.65  397.84     397.84  17709400
38 2024-05-03  402.28  407.15  401.86  406.66     406.66  17446700
39 2024-05-06  408.76  413.93  406.37  413.54     413.54  16996600
40 2024-05-07  414.66  414.67  409.09  409.34     409.34  20018200
41 2024-05-08  408.17  412.23  406.71  410.54     410.54  11792300
42 2024-05-09  410.57  412.72  409.10  412.32     412.32  14689700
43 2024-05-10  412.99  415.38  411.80  414.74     414.74  12459034

In [12]:
import datetime
import exchange_calendars as xcals

def _get_open_dates(start_date: datetime, end_date: datetime):
    xnys = xcals.get_calendar("XNYS")  # New York Stock Exchange
    return xnys.sessions_in_range(str(start_date), str(end_date))

In [24]:
open_dates = _get_open_dates(df.iloc[0].date, df.iloc[-1].date)
open_dates

DatetimeIndex(['2024-03-11', '2024-03-12', '2024-03-13', '2024-03-14',
               '2024-03-15', '2024-03-18', '2024-03-19', '2024-03-20',
               '2024-03-21', '2024-03-22', '2024-03-25', '2024-03-26',
               '2024-03-27', '2024-03-28', '2024-04-01', '2024-04-02',
               '2024-04-03', '2024-04-04', '2024-04-05', '2024-04-08',
               '2024-04-09', '2024-04-10', '2024-04-11', '2024-04-12',
               '2024-04-15', '2024-04-16', '2024-04-17', '2024-04-18',
               '2024-04-19', '2024-04-22', '2024-04-23', '2024-04-24',
               '2024-04-25', '2024-04-26', '2024-04-29', '2024-04-30',
               '2024-05-01', '2024-05-02', '2024-05-03', '2024-05-06',
               '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10'],
              dtype='datetime64[ns]', freq='C')

In [28]:
df.date

0    2024-03-11
1    2024-03-12
2    2024-03-13
3    2024-03-14
4    2024-03-15
5    2024-03-18
6    2024-03-19
7    2024-03-20
8    2024-03-21
9    2024-03-22
10   2024-03-25
11   2024-03-26
12   2024-03-27
13   2024-03-28
14   2024-04-01
15   2024-04-02
16   2024-04-03
17   2024-04-04
18   2024-04-05
19   2024-04-08
20   2024-04-09
21   2024-04-10
22   2024-04-11
23   2024-04-12
24   2024-04-15
25   2024-04-16
26   2024-04-17
27   2024-04-18
28   2024-04-19
29   2024-04-22
30   2024-04-23
31   2024-04-24
32   2024-04-25
33   2024-04-26
34   2024-04-29
35   2024-04-30
36   2024-05-01
37   2024-05-02
38   2024-05-03
39   2024-05-06
40   2024-05-07
41   2024-05-08
42   2024-05-09
43   2024-05-10
Name: date, dtype: datetime64[ns]

In [29]:
df[df.date == open_dates]

         date    open    high     low   close  adj_close    volume
0  2024-03-11  403.76  405.68  401.26  404.52     404.52  16120800
1  2024-03-12  407.62  415.57  406.79  415.28     415.28  22457000
2  2024-03-13  418.10  418.18  411.45  415.10     415.10  17115900
3  2024-03-14  420.24  427.82  417.99  425.22     425.22  34157300
4  2024-03-15  419.29  422.60  412.79  416.42     416.42  45049800
5  2024-03-18  414.25  420.73  413.78  417.32     417.32  20106000
6  2024-03-19  417.83  421.67  415.55  421.41     421.41  19837900
7  2024-03-20  422.00  425.96  420.66  425.23     425.23  17860100
8  2024-03-21  429.83  430.82  427.16  429.37     429.37  21296200
9  2024-03-22  429.70  429.86  426.07  428.74     428.74  17636500
10 2024-03-25  425.24  427.41  421.61  422.86     422.86  18060500
11 2024-03-26  425.61  425.99  421.35  421.65     421.65  16725600
12 2024-03-27  424.44  424.45  419.01  421.43     421.43  16705000
13 2024-03-28  420.96  421.87  419.12  420.72     420.72  21871200
14 2024-04-01  423.95  427.89  422.22  424.57     424.57  16316000
15 2024-04-02  420.11  422.38  417.84  421.44     421.44  17912000
16 2024-04-03  419.73  423.26  419.09  420.45     420.45  16502300
17 2024-04-04  424.99  428.67  417.57  417.88     417.88  19370900
18 2024-04-05  420.01  426.51  418.32  425.52     425.52  16544300
19 2024-04-08  425.17  427.28  423.30  424.59     424.59  14272400
20 2024-04-09  426.44  427.74  421.62  426.28     426.28  12512300
21 2024-04-10  422.19  424.03  419.70  423.26     423.26  16216600
22 2024-04-11  425.82  429.37  422.36  427.93     427.93  17966400
23 2024-04-12  424.05  425.18  419.77  421.90     421.90  19232100
24 2024-04-15  426.60  426.82  413.43  413.64     413.64  20273500
25 2024-04-16  414.57  418.40  413.73  414.58     414.58  16765600
26 2024-04-17  417.25  418.88  410.33  411.84     411.84  15855500
27 2024-04-18  410.63  411.89  403.95  404.27     404.27  21029900
28 2024-04-19  404.03  405.48  397.77  399.12     399.12  30276500
29 2024-04-22  400.08  402.85  395.75  400.96     400.96  20286900
30 2024-04-23  404.24  408.20  403.06  407.57     407.57  15734500
31 2024-04-24  409.56  412.47  406.78  409.06     409.06  15065300
32 2024-04-25  394.03  399.89  388.03  399.04     399.04  40586500
33 2024-04-26  412.17  413.00  405.76  406.32     406.32  29694700
34 2024-04-29  405.25  406.32  399.19  402.25     402.25  19582100
35 2024-04-30  401.49  402.16  389.17  389.33     389.33  28781400
36 2024-05-01  392.61  401.72  390.31  394.94     394.94  23562500
37 2024-05-02  397.66  399.93  394.65  397.84     397.84  17709400
38 2024-05-03  402.28  407.15  401.86  406.66     406.66  17446700
39 2024-05-06  408.76  413.93  406.37  413.54     413.54  16996600
40 2024-05-07  414.66  414.67  409.09  409.34     409.34  20018200
41 2024-05-08  408.17  412.23  406.71  410.54     410.54  11792300
42 2024-05-09  410.57  412.72  409.10  412.32     412.32  14689700
43 2024-05-10  412.99  415.38  411.80  414.74     414.74  12459034

In [33]:
df.drop(df[df.date != open_dates].index, inplace=True)

In [34]:
df

         date    open    high     low   close  adj_close    volume
0  2024-03-11  403.76  405.68  401.26  404.52     404.52  16120800
1  2024-03-12  407.62  415.57  406.79  415.28     415.28  22457000
2  2024-03-13  418.10  418.18  411.45  415.10     415.10  17115900
3  2024-03-14  420.24  427.82  417.99  425.22     425.22  34157300
4  2024-03-15  419.29  422.60  412.79  416.42     416.42  45049800
5  2024-03-18  414.25  420.73  413.78  417.32     417.32  20106000
6  2024-03-19  417.83  421.67  415.55  421.41     421.41  19837900
7  2024-03-20  422.00  425.96  420.66  425.23     425.23  17860100
8  2024-03-21  429.83  430.82  427.16  429.37     429.37  21296200
9  2024-03-22  429.70  429.86  426.07  428.74     428.74  17636500
10 2024-03-25  425.24  427.41  421.61  422.86     422.86  18060500
11 2024-03-26  425.61  425.99  421.35  421.65     421.65  16725600
12 2024-03-27  424.44  424.45  419.01  421.43     421.43  16705000
13 2024-03-28  420.96  421.87  419.12  420.72     420.72  21871200
14 2024-04-01  423.95  427.89  422.22  424.57     424.57  16316000
15 2024-04-02  420.11  422.38  417.84  421.44     421.44  17912000
16 2024-04-03  419.73  423.26  419.09  420.45     420.45  16502300
17 2024-04-04  424.99  428.67  417.57  417.88     417.88  19370900
18 2024-04-05  420.01  426.51  418.32  425.52     425.52  16544300
19 2024-04-08  425.17  427.28  423.30  424.59     424.59  14272400
20 2024-04-09  426.44  427.74  421.62  426.28     426.28  12512300
21 2024-04-10  422.19  424.03  419.70  423.26     423.26  16216600
22 2024-04-11  425.82  429.37  422.36  427.93     427.93  17966400
23 2024-04-12  424.05  425.18  419.77  421.90     421.90  19232100
24 2024-04-15  426.60  426.82  413.43  413.64     413.64  20273500
25 2024-04-16  414.57  418.40  413.73  414.58     414.58  16765600
26 2024-04-17  417.25  418.88  410.33  411.84     411.84  15855500
27 2024-04-18  410.63  411.89  403.95  404.27     404.27  21029900
28 2024-04-19  404.03  405.48  397.77  399.12     399.12  30276500
29 2024-04-22  400.08  402.85  395.75  400.96     400.96  20286900
30 2024-04-23  404.24  408.20  403.06  407.57     407.57  15734500
31 2024-04-24  409.56  412.47  406.78  409.06     409.06  15065300
32 2024-04-25  394.03  399.89  388.03  399.04     399.04  40586500
33 2024-04-26  412.17  413.00  405.76  406.32     406.32  29694700
34 2024-04-29  405.25  406.32  399.19  402.25     402.25  19582100
35 2024-04-30  401.49  402.16  389.17  389.33     389.33  28781400
36 2024-05-01  392.61  401.72  390.31  394.94     394.94  23562500
37 2024-05-02  397.66  399.93  394.65  397.84     397.84  17709400
38 2024-05-03  402.28  407.15  401.86  406.66     406.66  17446700
39 2024-05-06  408.76  413.93  406.37  413.54     413.54  16996600
40 2024-05-07  414.66  414.67  409.09  409.34     409.34  20018200
41 2024-05-08  408.17  412.23  406.71  410.54     410.54  11792300
42 2024-05-09  410.57  412.72  409.10  412.32     412.32  14689700
43 2024-05-10  412.99  415.38  411.80  414.74     414.74  12459034